<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigcake">

  <uses-permission android:name="android.permission.CAMERA"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".lazyloading.MainActivity">
    </activity>
    <activity android:name=".fragment.FgActivity">
    </activity>
    <activity android:name=".rxpermission.PermissionActivity">
    </activity>
    <activity android:name=".viper.ViperActivity">

    </activity>
    <activity android:name=".rxsubject.RxSubjectActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".loadimages.LoadImagesActivity"/>
  </application>

</manifest>